#mydiv {
  border: 5px green ridge;
  height: 200px;
  width: 200px;
  background-color: lightcoral;
  animation-name: MyAnimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes MyAnimation {
  from {
    background-color: lightgreen;
    border-radius: 0px;
  }
  to {
    background: yellow;
    border-radius: 100px;
  }
}
