:root {
  background-color: #212121;
}

#mydiv {
  border: 3px black solid;
  height: 200px;
  width: 200px;
  background-color: brown;
  transition-duration: 2s;
  transition-property: all;
  border-radius: 10%;
}
#mydiv:hover {
  padding: 10px;
  /* height: 300px;
  width: 300px; */
  font-size: 30px;
  font-weight: bold;
  color: magenta;
  border-radius: 50%;
  background-color: yellow;
  border: 20px rgb(0, 4, 255) double;
  transform: rotate(360deg);
}
.name {
  text-align: center;
}
